/* GLOBAL */
* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
}

/* TYPOGRAPHY */

.title {
  font-size: 60px;
  font-weight: 900;
  color: #fff;
}

.title span {
  display: block;
  font-size: 45px;
  font-weight: 400;
}

.title-cta {
  margin: 0 0 35px 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 46px;
  }

  .title span {
    font-size: 34px;
  }
}

/* BUTTONS */

.button {
  font-size: 27px;
  font-weight: 600;
  color: #00ff6c;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #00ff6c;
  padding: 15px 70px;
  cursor: pointer;
}

.button-accent:hover,
.button-accent:focus {
  background-color: #00ff6c;
  color: #232323;
}

.button-small {
  font-size: 15px;
  padding: 10px 30px;
}

.button-dark {
  color: #232323;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #232323;
}

.button-dark:hover,
.button-dark:focus {
  background-color: #232323;
  color: #00ff6c;
}

/* HEADER START */

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

header li a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px 0;
  color: #fff;
}

header li a:hover,
header li a:focus {
  color: #232323;
}

header img {
  margin: 15px 30px;
}

@media (max-width: 768px) {
  header {
    display: block;
  }

  header img {
    margin-bottom: 0;
  }
}

/* HEADER END */

/* HERO SECTION START */

.home-hero {
  background: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 160px 0;
  padding-top: 35vh;
}

/* HOME ABOUT */

.home-about {
  background-image: url(../img/who-we-are.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 160px;
}

.home-about-textbox {
  width: 50%;
  background-color: #232323;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  outline: 2px solid #00ff6c;
  outline-offset: -40px;
  padding: 64px;
  position: relative;
  left: -50px;
  top: -100px;
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.3);
}

.home-about-textbox h1 {
  position: absolute;
  font-size: 35px;
  color: #00ff6c;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #232323;
  padding: 5px;
  top: -20px;
}

@media (max-width: 768px) {
  .home-about-textbox {
    width: 100%;
    top: 0;
    left: 0;
  }

  .home-about {
    background-image: none;
    padding: 0;
    width: 100%;
    padding: -2.5%;
  }
}

/* PORTFOLIO */

.home-portfolio h1 {
  font-size: 40px;
  text-transform: uppercase;
}

.home-portfolio h1::before {
  content: "";
  width: 200px;
  margin: 0 auto;
  height: 2px;
  background: #00ff6c;
  margin-bottom: 40px;
}

.home-portfolio .portfolio-box {
  display: flex;
  flex-wrap: wrap;
}

.home-portfolio .portfolio-item {
  flex: 0 1 33.33%;
}

.home-portfolio .portfolio-item {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.home-portfolio .portfolio-desc {
  position: absolute;
  z-index: 99;
  bottom: 5px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 30px;
  transform: translateY(150%);
}

.home-portfolio .portfolio-desc p {
  font-size: 18px;
  color: #fff;
  padding-bottom: 15px;
}

.portfolio-item:hover .portfolio-desc {
  transform: translateY(0%);
}

@media (max-width: 768px) {
  .home-portfolio .portfolio-item {
    flex: 0 1 50%;
  }

  .home-portfolio .portfolio-desc {
    transform: translateY(0%);
  }
}

/* CTA */

.cta {
  background-color: #00ff6c;
  padding: 55px;
}

/* FOOTER */
footer {
  background: #232323;
  color: #fff;
  text-align: left;
  padding: 100px 0;
}

footer .container {
  display: flex;
}

footer li {
  list-style-type: none;
}

footer .col-3 {
  flex: 0 1 50%;
  line-height: 2.5;
}

footer .col-1 {
  flex: 0 1 16.67%;
  line-height: 2.5;
}

@media (max-width: 768px) {
  footer .container {
    display: flex;
    flex-wrap: wrap;
  }

  footer .col-3 {
    flex: 0 1 100%;
    line-height: 2.5;
  }

  footer .col-1 {
    flex: 0 1 33.33%;
    line-height: 2.5;
  }
}
